* {margin: 0; padding: 0;}

/*
FONTS
  font-family: "tablet-gothic-condensed",sans-serif;
*/

html {background: url('../images/background.jpg') no-repeat top center; background-size: cover;}
body, input {
  font-size: 62.5%; line-height: 1.6;
  font-family: "freight-sans-pro"; font-weight: 400;
  /*font-family: "tablet-gothic-condensed",sans-serif; font-weight: 300;*/
}

#wrap {width: 100em; margin: 0 auto; text-align: center;}

#logo,
#logo a {width: 521px; height: 166px;}
#logo {margin: 0px auto 1.25em auto;}
#logo a {display: block; background: url('../images/logo2-full.png') no-repeat; text-indent: -9999px;}

.colophon {font-size: 3.5em; line-height: 1.4; color: #707070; font-weight: 500;}
h4 {font-size: 4.75em; color: #707070; font-weight: 500; margin: 0.2em 0 1.25em 0;}

.contact {font-size: 3em; color: #fff; font-weight: 300; margin: 5em 0 0 0; text-shadow: 0 0 20px #000;}
.contact a {color: #fff; text-decoration: none; margin: 0 0.25em;}
.contact a:hover {color: #9cbffd;}

.footer {
  margin: 5em 0 2em 0; color: #fff; font-size: 1.2em; text-transform: uppercase; letter-spacing: 1px; font-weight: 400;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.form {
  border-top: 4px solid rgba(117, 165, 252, 0.95);
  background: rgba(255, 255, 255, 0.95); width: 54em; margin: 0 auto;
  padding: 1em 0 4em 0;
}
.form h5 {
  color: #75a5fc; font-size: 4em; font-weight: 600; margin: 0 0 0.5em 0;
}
.form input {
  border: 2px solid #75a5fc; color: #75a5fc; text-transform: uppercase;
  padding: 0.1em 0.5em 0.2em 0.5em; font-size: 3em;
  font-weight: 300; display: inline-block;
  vertical-align: bottom; outline: none;
}
.form input[type="text"],
.form input[type="email"] {width: 11.75em;}
.form input[type="submit"] {
  border-color: #75a5fc; background: #75a5fc; color: #fff;
  padding: 0.2em 0.75em 0.1em 0.75em; margin-left: -0.2em;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  #logo a {background-image: url('../images/logo2-full@2x.png'); background-size: 521px 166px;}
}
